<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vModel</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.min.js"></script>
</head>
<style>
    * {
        margin: 0;
        padding: 0;
    }
</style>

<body>
    <div class="app">
        <div>账号：<input type="username" v-model="username"></div>
        <div>密码：<input type="password" v-model="password"></div>
        <div>余额：<input type="text" v-model="fee"></div>
        <div>您的余额是：{{fee}}</div>
    </div>



</body>
<script>
    const app = new Vue({
        el: '.app',
        data: {
            username: '',
            password: '',
            fee: 100

        },
        methods: {
            add() {
                this.count = this.count + 20
                this.flag = !this.flag

            }

        },
    })

</script>

</html>